.heading{
    width: 100%;
    text-align: left;
}

.heading h1{
    display: inline;
}

.instruction{
    float: right;
    border: 1px white;
}

.big_image{
    width: 100%;
}

h4{
    background-color: white;
    width: 100%;
    line-height: 2;
    margin: 0px;
}

.modal-dialog{
    width: 90%;
}  

.restart{
    margin-bottom: -20px;
}

.footer{
    background-color: red;
    line-height: 3;
    margin: 10px;
    width: 100%;

}

canvas{
    margin: 40px;
    border-radius: 3%;
}

video{
    margin: 650px;
}